:root {
    --border-style: 10px solid #f7f781BB;
}

body {
    background-image: url(../img/asphalt.jpeg);
    background-size: cover;
    box-sizing: border-box;
}
h1 {
    text-align: center;
    font-family: chalk;
    font-size: 100px;
    color: #ffa6ec;
    opacity: .65;
    transform: rotate(1deg);
    margin-top: 20px;
    margin-bottom: 0;
}

form {
    color: #8be5f7;
    font-size: 48px;
    font-family: chalk;
    text-align: center;
    opacity: .75;
}

select {
    font-family: chalk;
    font-size: 80px;
    background-color: transparent;
    border: none;
    height: 80px;
    color: #ffa6ec;
    opacity: .95;
}

#XorO {
    pointer-events: none;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    table-layout: fixed;
    max-height: 750px;
    transform: rotate(5deg);
}

tr {
    font-family: chalk;
    font-size: 23vw;
    text-align: center;
    color: #ffa6ec;
    opacity: .65;
    border-top: var(--border-style);
}

td {
    width: 30vw;
    height: 30vw;
    max-width: 30vw;
    max-height: 30vw;
    border-left: var(--border-style);
    cursor: pointer;
}

td:first-of-type { 
    border-left: 0
}

tr:first-of-type {
    border-top: 0;
}
/* #success {
    display: flex;
    flex-direction: row;
} */

img {
    display: block;
    width: 100vw;
    margin-top: -350px;
    z-index: 0;
    position: relative;
}

h2 {
    margin-top: -15px;
    margin-bottom: 0;
    color: #8be5f7;
    font-size: 80px;
    font-family: chalk;
    text-align: center;
    /* opacity: .75; */
    z-index: 1;
    position: relative;
    background-color: #ae34eb;

}

.hidden {
    display: none;
}

@font-face {
    font-family: chalk;
    src: url(../fonts/Chalk-Regular.ttf);
}